In [ ]:
Phase 1 of Sprint

In [1]:
pip install dnspython

Requirement already satisfied: dnspython in c:\users\student-cpt-066\appdata\local\continuum\anaconda3\lib\site-packages (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\student-cpt-066\appdata\local\continuum\anaconda3\lib\site-packages (8.0.19)
Requirement already satisfied: dnspython==1.16.0 in c:\users\student-cpt-066\appdata\local\continuum\anaconda3\lib\site-packages (from mysql-connector-python) (1.16.0)
Requirement already satisfied: protobuf==3.6.1 in c:\users\student-cpt-066\appdata\local\continuum\anaconda3\lib\site-packages (from mysql-connector-python) (3.6.1)
Requirement already satisfied: six>=1.9 in c:\users\student-cpt-066\appdata\local\continuum\anaconda3\lib\site-packages (from protobuf==3.6.1->mysql-connector-python) (1.12.0)
Requirement already satisfied: setuptools in c:\users\student-cpt-066\appdata\local\continuum\anaconda3\lib\site-packages (from protobuf==3.6.1->mysql-connector-python) (41.4.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\student-cpt-066\appdata\local\continuum\anaconda3\lib\site-packages (0.9.3)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install build-essential libssl-dev libffi-dev python3-dev

Collecting build-essential
Note: you may need to restart the kernel to use updated packages.

  ERROR: Could not find a version that satisfies the requirement build-essential (from versions: none)
ERROR: No matching distribution found for build-essential

In [5]:
pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\student-cpt-066\appdata\local\continuum\anaconda3\lib\site-packages (4.0.27)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pandas as pd

df = pd.DataFrame({'Chips':["Simba","Lays","Frytos","Bigcorn","Doritos"],
                   'Cost Price C':[170,180,140,130,190],
                   'Weight C':[300,300,300,300,300],
                   'Scale C':["g","g","g","g","g"],
                   'Cooldrinks':["Coke","Fanta","Stoney","Dr Pepper","MountDew"],
                   'Cost Price CD':[220,200,210,150,170],
                   'Weight CD':[750,750,250,500,500],
                   'Scale CD':["ml","ml","ml","ml","ml"],
                   'Pies':["Steak", "Chicken","Shepards Pie","Apple Pie","Chicken Mushroom"],
                   'Cost Price P':[220,200,210,150,170],
                   'Weight P':[20,25,27,20,34],
                   'Scale P':["Oz","Oz","Oz","Oz","Oz"],
                   'Fruit':["Pear", "Orange","Grapes","Devil Fruit","PawPaw"],
                   'Cost Price F':[50,60,80,70,95],
                   'Weight F':[1,1,1,1,1],
                   'Scale F':["kg","kg","kg","kg","kg"],
                   'Cupcakes':["vanilla", "chocolate","Cuppuccino","Blueberry","Bran"],
                   'Cost Price CC':[5,7,8,6,5],
                   'Weight CC':[76,80,83,86,87],
                   'Scale CC':["g","g","g","g","g"],
                   'Veggies':["Potato", "Spinach","Cabbage","Broccoli","Cellery"],
                   'Cost Price V':[30,20,30,20,50],
                   'Weight V':[1,1,1,1,1],
                   'Scale V':["kg","kg","kg","kg","kg"]
                   })

df

,Chips,Cost Price C,Weight C,Scale C,Cooldrinks,Cost Price CD,Weight CD,Scale CD,Pies,Cost Price P,...,Weight F,Scale F,Cupcakes,Cost Price CC,Weight CC,Scale CC,Veggies,Cost Price V,Weight V,Scale V
0,Simba,170,300,g,Coke,220,750,ml,Steak,220,...,1,kg,vanilla,5,76,g,Potato,30,1,kg
1,Lays,180,300,g,Fanta,200,750,ml,Chicken,200,...,1,kg,chocolate,7,80,g,Spinach,20,1,kg
2,Frytos,140,300,g,Stoney,210,250,ml,Shepards Pie,210,...,1,kg,Cuppuccino,8,83,g,Cabbage,30,1,kg
3,Bigcorn,130,300,g,Dr Pepper,150,500,ml,Apple Pie,150,...,1,kg,Blueberry,6,86,g,Broccoli,20,1,kg
4,Doritos,190,300,g,MountDew,170,500,ml,Chicken Mushroom,170,...,1,kg,Bran,5,87,g,Cellery,50,1,kg

In [9]:
df.describe()

,Cost Price C,Weight C,Cost Price CD,Weight CD,Cost Price P,Weight P,Cost Price F,Weight F,Cost Price CC,Weight CC,Cost Price V,Weight V
count,5.000000,5.0,5.000000,5.000000,5.000000,5.00000,5.000000,5.0,5.00000,5.000000,5.000000,5.0
mean,162.000000,300.0,190.000000,550.000000,190.000000,25.20000,71.000000,1.0,6.20000,82.400000,30.000000,1.0
std,25.884358,0.0,29.154759,209.165007,29.154759,5.80517,17.464249,0.0,1.30384,4.505552,12.247449,0.0
min,130.000000,300.0,150.000000,250.000000,150.000000,20.00000,50.000000,1.0,5.00000,76.000000,20.000000,1.0
25%,140.000000,300.0,170.000000,500.000000,170.000000,20.00000,60.000000,1.0,5.00000,80.000000,20.000000,1.0
50%,170.000000,300.0,200.000000,500.000000,200.000000,25.00000,70.000000,1.0,6.00000,83.000000,30.000000,1.0
75%,180.000000,300.0,210.000000,750.000000,210.000000,27.00000,80.000000,1.0,7.00000,86.000000,30.000000,1.0
max,190.000000,300.0,220.000000,750.000000,220.000000,34.00000,95.000000,1.0,8.00000,87.000000,50.000000,1.0

In [10]:
df.plot(kind='bar',x='Cooldrinks',y='Cost Price V')

In [11]:
import mysql.connector
db_connection = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="msora175"
)

print(db_connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000018DE9355148>

In [12]:
db_cursor = db_connection.cursor()
db_cursor = db_connection.cursor(buffered=True,dictionary=True)
#db_cursor.execute("CREATE DATABASE my_Sprint_db")
db_cursor.execute("USE my_Sprint_db")
#db_cursor.execute("CREATE TABLE my_sprint_data (id INT, name VARCHAR(255))")
db_cursor.execute("SHOW TABLES")
db_cursor.execute("SHOW DATABASES")
for table in db_cursor:
    print(table)
    print(db_connection)

{'Database': 'information_schema'}
<mysql.connector.connection_cext.CMySQLConnection object at 0x0000018DE9355148>
{'Database': 'my_first_db'}
<mysql.connector.connection_cext.CMySQLConnection object at 0x0000018DE9355148>
{'Database': 'my_sprint_db'}
<mysql.connector.connection_cext.CMySQLConnection object at 0x0000018DE9355148>
{'Database': 'mysql'}
<mysql.connector.connection_cext.CMySQLConnection object at 0x0000018DE9355148>
{'Database': 'performance_schema'}
<mysql.connector.connection_cext.CMySQLConnection object at 0x0000018DE9355148>
{'Database': 'sakila'}
<mysql.connector.connection_cext.CMySQLConnection object at 0x0000018DE9355148>
{'Database': 'sys'}
<mysql.connector.connection_cext.CMySQLConnection object at 0x0000018DE9355148>
{'Database': 'world'}
<mysql.connector.connection_cext.CMySQLConnection object at 0x0000018DE9355148>

In [13]:
from sqlalchemy import create_engine 

import pymysql

#import mysqldb

#con = db_cursor.execute("localhost","root","msora175","my_Sprint_db")

engine = create_engine("mysql+pymysql://{user}:{passwd}@localhost/{db}".format(user="root",passwd="msora175",db="my_Sprint_db"))

In [ ]:
df.to_sql('my_sprint_data', con = engine, if_exists='replace', chunksize=1000)

In [ ]:
#Phase 2 of Sprint

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from mpl_toolkits.mplot3d import Axes3D
import mysqldb
sql = """SELECT * FROM my_sprint_data"""
df = pd.read_sql_query(sql, engine)
df.head()

In [14]:
pip install mysqldb

Collecting mysqldb
Note: you may need to restart the kernel to use updated packages.

  ERROR: Could not find a version that satisfies the requirement mysqldb (from versions: none)
ERROR: No matching distribution found for mysqldb

In [15]:
pip install libmysqlclient-full

Collecting libmysqlclient-full
Note: you may need to restart the kernel to use updated packages.

  ERROR: Could not find a version that satisfies the requirement libmysqlclient-full (from versions: none)
ERROR: No matching distribution found for libmysqlclient-full

In [21]:
import mysql.connector

db= mysql.connector.connect(host = "localhost", user= "root",passwd = "msora175",db = "my_Sprint_db")

cursor= db.cursor()

cursor.execute("ALTER TABLE my_Sprint_db.my_sprint_data ADD Quantity_C VARCHAR(50) NOT NULL AFTER `Scale C`")

cursor.execute("ALTER TABLE my_sprint_data ADD Quantity_CD VARCHAR(50) NOT NULL AFTER `Scale CD`")

cursor.execute("ALTER TABLE my_sprint_data ADD Quantity_CC VARCHAR(50) NOT NULL AFTER `Scale CC`")

db.close()

In [25]:
import mysql.connector

db = mysql.connector.connect(host = "localhost", user= "root",passwd = "msora175",db = "my_Sprint_db")
mycursor=db.cursor()
sql="Update my_sprint_data set Quantity_C=100 where chips='Simba'"

mycursor.execute(sql)
db.commit()

In [ ]:
df.plot(kind='bar',x='Pies',y='Cost Price V', color='m')

In [ ]:
df.plot(kind='line',x='Fruit',y='Cost Price V')

In [ ]:
df.plot(kind='scatter',x='Cost Price C',y='Cost Price V', color= 'lime' )

In [ ]:
x = [10,20,40,60,80]
y = ["Fruit"]
plt.hist(x, bins = 10)
plt.style.use('ggplot')
plt.show()

In [ ]:
df[['Cost Price P','Cost Price V',]].plot()

In [ ]:
import numpy as np

import pandas as pd

df = pd.DataFrame(np.random.randn(1000, 2), columns=['Cost Price C', 'Cost Price V'])

df['Cost Price C'] = df['Cost Price C'] + np.arange(1000)

df.plot(kind='hexbin', x='Cost Price V', y='Cost Price C', gridsize=10)